<div class="container">
  <div class="row marketing">
    <div class="col-md-12">
      <div class="panel panel-default panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Tham gia Chat</h3>
        </div>
        <form class="panel-body ng-pristine ng-valid" ng-submit="join()" novalidate>
          <h1>Xin chào {{ username }}</h1>
          <!--<div class="form-group">-->
            <!--<label for="username">Username</label>-->
            <!--<input type="text" class="form-control" id="username" placeholder="Username" ng-model="username">-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label for="password">Password</label>-->
            <!--<input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">-->
          <!--</div>-->
          <div class="form-group">
            <label for="room">Chọn phòng</label>
            <select class="form-control" id="room" ng-model="room">
              <option ng-repeat="room in rooms" value="{{ room }}">{{ room }}</option>
            </select>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <input class="btn btn-block btn-primary" type="submit" value="Tham gia phòng">
            </div>
            <div class="col-md-6">
              <a href="/newroom" class="btn btn-warning btn-block">Tạo phòng mới</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>